@charset "utf-8";

*{border:0;margin:0;outline:0;padding:0;box-sizing:border-box;font-style:inherit;vertical-align:baseline}
html{-webkit-text-size-adjust:100%}
body{margin:0;padding:0;background:#fcfbf2;color:#333;line-height:1.8;font-family:Arial,"BIZ UDGothic","メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","新ゴR",Verdana,sans-serif}
@media print{body{-webkit-print-color-adjust:exact; /* Chrome背景印刷 */}}
a{color:#0ae;text-decoration:underline}
a:hover{opacity:.7;text-decoration:none}
p{margin:0 0 15px}
p:last-child{margin-bottom:0}
img,svg{max-width:100%;height:auto;vertical-align:middle;box-sizing:border-box}
ol,ul{list-style:none}
ol+p,ul+p{margin-top:15px}
strong,.u-font-bold{font-weight:700}

.nowrap{white-space:nowrap}
.va-top{vertical-align:top}
.txt-10rem{font-size:1rem}
.txt-15rem{font-size:1.5rem}
.txt-20rem{font-size:2rem}
.txt-25rem{font-size:2.5rem}
.txt-30rem{font-size:3rem}
.txt-red{color:#f44336}
.txt-blue{color:#0153a7}

.u-pa0 {padding:0!important}
.u-pa10{padding:10px!important}
.u-pa20{padding:20px!important}
.u-pa30{padding:30px!important}
.u-pt30{padding-top:30px!important}
.u-pb30{padding-bottom:30px!important}
.u-ma0 {margin:0!important}
.u-ma5 {margin:5px!important}
.u-ma10{margin:10px!important}
.u-ma20{margin:20px!important}
.u-mt0 {margin-top:0!important}
.u-mt20{margin-top:20px!important}
.u-mt30{margin-top:30px!important}
.u-mt50{margin-top:50px!important}
.u-mb0 {margin-bottom:0!important}
.u-mb15{margin-bottom:15px!important}
.u-mb20{margin-bottom:20px!important}
.u-mb30{margin-bottom:30px!important}
.u-mb40{margin-bottom:40px!important}
.u-ml30{margin-left:30px!important}
.u-mr10{margin-right:10px!important}


#header{background:#fff}
#header .header-top{padding:5px;font-size:.9rem}
#header .header-main{padding:10px 0;background:#0153a7}
#header .header-logo{width:46.7%}
#header .header-tel {width:25%;margin: 0 10px 0 0;text-align:center;color:#fff}
#header .header-tel__ttl{margin:0 0 5px;background:#fff;color:#0153a7;font-size:1rem;font-weight:700}
#header .header-tel__number{font-size:1rem}
.header-tel__number__yellow{color:#f8b400;font-size:1.8rem;font-weight:700}
#header .header-feature{width:28.1%}
#menu-btn{display:none}
#footer{padding:30px 0 0;background:#f6f6f6}
#footer .fnav__ttl{margin:0 0 20px;text-align:center;background:url(/common/img/common/bg_sitemenu_ttl.png) 0 center repeat-x}
#footer .fnav__ttl__inner{display:inline-block;padding:0 10px;background:#f6f6f6;font-size:1.8rem;font-weight:600}
#footer .accordion{position:relative;margin:0;font-weight:600;line-height:1.4}
#footer .fnav__item__list{display:block;line-height:1.4}
#footer .footer-address{background:#0153a7;color:#fff}
#footer .footer-address__inner{display:flex;padding:50px 20px;flex-wrap:wrap;justify-content:space-between}
#footer .footer-address__inner>div>div>div{width:50%}
#footer .footer-privacy{display:block;margin:20px auto;background:#fff;color:#333;text-align:center;border-radius:5px}
#footer .copyright{padding:30px 0;background:#013468;color:#cbd1d9;font-size:.9rem;text-align:center}
#breadcrumb{margin:0;padding:8px 0;list-style:none;font-size:.9rem;overflow:hidden}
#breadcrumb li{display:inline-block;list-style:none}
#breadcrumb li:before{margin:0 .4em 0 .2em;zoom:1.3;content:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iOSAxMSAxMCAxMCI+PHBhdGggZmlsbD0iIzY2NiIgZD0iTTE0LjgyIDE3LjE0YzAgLjA2LS4wMi4xMS0uMDcuMTVsLTMuMTIgMy4xMmEuMjMuMjMgMCAwMS0uMTUuMDcuMTguMTggMCAwMS0uMTUtLjA3bC0uMzMtLjMzYy0uMDQtLjA0LS4wNy0uMS0uMDctLjE1cy4wMi0uMTEuMDctLjE1bDIuNjMtMi42M0wxMSAxNC41MmEuMjMuMjMgMCAwMS0uMDctLjE1YzAtLjA2LjAyLS4xMS4wNy0uMTVsLjMzLS4zM2MuMDQtLjA0LjEtLjA3LjE1LS4wNy4wNiAwIC4xMS4wMi4xNS4wN2wzLjEyIDMuMTJjLjA1LjAyLjA3LjA3LjA3LjEzem0yLjU3IDBjMCAuMDYtLjAyLjExLS4wNy4xNWwtMy4xMiAzLjEyYy0uMDQuMDQtLjEuMDctLjE1LjA3cy0uMTEtLjAyLS4xNS0uMDdsLS4zMy0uMzNjLS4wNC0uMDQtLjA3LS4xLS4wNy0uMTVzLjAyLS4xMS4wNy0uMTVsMi42My0yLjYzLTIuNjMtMi42M2EuMjMuMjMgMCAwMS0uMDctLjE1YzAtLjA2LjAyLS4xMS4wNy0uMTVsLjMzLS4zM2MuMDQtLjA0LjEtLjA3LjE1LS4wN3MuMTEuMDIuMTUuMDdsMy4xMiAzLjEyYy4wNS4wMi4wNy4wNy4wNy4xM3oiLz48L3N2Zz4=')}
#breadcrumb li:first-child:before{content:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iOSAxMSAxMiAxMCI+PHBhdGggZmlsbD0iIzY2NiIgZD0iTTIwLjQgMTYuODdsLS40My41MmEuMjguMjggMCAwMS0uMTUuMDhoLS4wMmEuMjUuMjUgMCAwMS0uMTUtLjA1bC00Ljg1LTQuMDUtNC44NSA0LjA1YS4yOC4yOCAwIDAxLS4xNy4wNS4yOC4yOCAwIDAxLS4xNS0uMDhsLS40My0uNTJjLS4wNC0uMDUtLjA1LS4xLS4wNS0uMTcgMC0uMDYuMDMtLjExLjA4LS4xNWw1LjA0LTQuMmMuMTUtLjEyLjMzLS4xOC41My0uMThzLjM4LjA2LjUzLjE4bDEuNzEgMS40M3YtMS4zN2MwLS4wNy4wMi0uMTIuMDYtLjE2LjA0LS4wNC4xLS4wNi4xNi0uMDZoMS4zNWMuMDcgMCAuMTIuMDIuMTYuMDYuMDQuMDQuMDYuMS4wNi4xNnYyLjg2bDEuNTMgMS4yOGMuMDUuMDQuMDcuMDkuMDguMTUuMDEuMDcgMCAuMTItLjA0LjE3em0tMS41Ni40OHYzLjM3YS40LjQgMCAwMS0uMTMuMzEuNDIuNDIgMCAwMS0uMzIuMTNIMTUuN3YtMi42OWgtMS44djIuNjloLTIuNjlhLjQ0LjQ0IDAgMDEtLjMyLS4xMy40Mi40MiAwIDAxLS4xMy0uMzF2LTMuMzctLjAyLS4wMmw0LjAzLTMuMzMgNC4wMyAzLjMzLjAyLjA0eiIvPjwvc3ZnPg==')}
#breadcrumb li a{text-decoration:none;color:#3f51b5}
#breadcrumb li a:hover{text-decoration:underline}
#pagetop{position:fixed;right:15px;bottom:15px;z-index:99}
#pagetop .pagetop__link--top,
#pagetop .pagetop__link--bottom{display:flex;width:40px;height:40px;align-items:center;justify-content:center;background:rgba(1,83,167,.9);color:#fff;line-height:1.2;text-align:center;text-decoration:none}
#pagetop .pagetop__link--top{margin:0 0 5px}
#pagetop i{display:block;font-size:1.6rem;line-height:1}

@media (min-width: 768px) and (max-width: 900px){
html{font-size: calc(100vw / 60)}
}
@media (min-width: 768px){
#header .header-logo{padding:0 82px 0 0;background:url(/common/img/common/bg_logo.png) top right no-repeat;background-size:contain}
#gnav{background:#fff}
#gnav ul{display:flex;justify-content:space-between;border-left:1px solid #e4e4e4}
#gnav li{position:relative;z-index:9;border-right:1px solid #e4e4e4;width:170px}
#gnav li a{position:relative;display:flex;align-items:center;justify-content:center;padding:15px 0 10px;text-align:center;max-width:170px;height:75px;color:#333;line-height:1.4;text-decoration:none;font-size:1.1rem;font-weight:700}
#gnav li a::after{position:absolute;width:100%;height:0;margin:auto;bottom:-4px;left:0;background:#0153a7;content:'';transition:all .2s ease-out}
#gnav li a:hover,#gnav li.active a{color:#0153a7;background:#ebf3f9}
#gnav li a:hover::after,#gnav li.active a::after{height:4px}
#gnav li.gnav__cta a{background:#f86502;color:#fff}
#gnav li.gnav__cta a::after{background:#f82d01}
#gnav::after{display:block;position:relative;width:auto;height:4px;top:0;flex-grow:1;border-bottom:1px solid #e4e4e4;background-color:#ebebeb;content:'';z-index:2}
#footer{padding:60px 0 0}
#footer .fnav__ttl{margin:0 0 25px}
#footer .fnav__ttl__inner{padding:0 20px}
#footer .fnav{display:flex;margin:0;justify-content:space-between}
#footer .fnav>li{width:25%;padding:0 20px 0 0}
#footer .fnav>li:last-child{padding:0}
#footer .accordion,
#footer .fnav--sitemap{font-weight:700;margin:0 0 10px}
#footer .fnav__item__list{display:block;margin:0 0 45px}
#footer .fnav__item__list>li{margin:0 0 8px;line-height:1.3}
#footer .fnav a{display:inline-block;color:#0153a7;text-decoration:none;font-size:0.9rem}
#footer .footer-address__inner>div{width:50%}
#footer .footer-address a{color:#fff;text-decoration:underline}
#footer .footer-privacy{display:inline-block}
#pagetop{right:30px;bottom:30px;font-size:15px}
#pagetop .pagetop__link--top{width:95px;height:90px;margin:0 auto 10px;padding:0 0 10px;flex-wrap:wrap;transition:.3s all}
#pagetop .pagetop__link--bottom{width:120px;height:120px;padding:10px;border-radius:50%;flex-wrap:wrap;transition:.3s all;background:#f86502}
#pagetop .pagetop__link--bottom:hover{opacity:1;background:#f44336}
#pagetop i{width:100%;font-size:2rem}
#pagetop i.icon-arrow-up{margin-bottom:-15px}
#pagetop i.icon-arrow-down{margin-top:-15px}
}
@media (max-width: 767px){
html{font-size:calc(100vw / 30)}
#header .header-main{padding:20px 15px}
#header .header-logo{width:220px}
#header .header-feature{width:100%;height:10vw;margin-top:5px}
#menu-btn{display:block;position:fixed;width:32px;width:46px\0;height:32px;height:46px\0;padding:8px;top:10px;right:10px;z-index:101;cursor:pointer;background:#0153a7;border-radius:5px;box-sizing:initial}
#menu-btn .header-menu__inner{position:relative;height:22px;margin-top:5px}
#menu-btn .header-menu__item{display:inline-block;position:absolute;left:0;width:100%;height:2px;background:#fff;border-radius:2px;transition:transform .3s ease-in-out}
#menu-btn .header-menu__item:nth-of-type(1){top:0}
#menu-btn .header-menu__item:nth-of-type(2){top:10px}
#menu-btn .header-menu__item:nth-of-type(3){bottom:0}
#menu-btn.active .header-menu__item:nth-of-type(1){transform:translateY(10px) rotate(-315deg)}
#menu-btn.active .header-menu__item:nth-of-type(2){opacity:0}
#menu-btn.active .header-menu__item:nth-of-type(3){transform:translateY(-10px) rotate(315deg)}
#gnav{position:fixed;width:100%;height:100%;padding:20px 15px 15px;top:0;left:0;z-index:-1;background:rgba(1,83,167,.9);opacity:0;transition:all .2s ease-in-out;visibility:visible;overflow-y:auto;-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px)}
.show #gnav{z-index:100;opacity:1;visibility:visible}
#gnav li{border-bottom:1px solid rgba(255,255,255,.2)}
#gnav li:first-child{border-top:1px solid rgba(255,255,255,.2)}
#gnav li a{display:flex;align-items:center;color:#fff;text-decoration:none;padding:10px;font-size:1.5rem}
#gnav li a:before{font-family:'icomoon'!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;content:"\e906"}
#gnav li br{display:none}
#gnav .header-tel{margin:20px 0 0;padding:0 0 10px;text-align:center;color:#fff;border:1px solid #fff}
#gnav .header-tel__ttl{margin:0;padding:5px 0;background:#fff;color:#0153a7;font-size:1.4rem;font-weight:600}
#gnav .header-tel__number a{color:#f8b400}
#gnav .header-tel__number__yellow{font-size:2.2rem}
#footer .fnav{margin:0 0 15px;border-top:1px solid #ddd}
#footer .footer-address__inner>div{width:100%}
#footer .footer-address__inner>div>div{width:100%}
#footer .accordion{padding:15px 10px;border-bottom:1px solid #ddd;color:#0153a7;cursor:pointer}
#footer .accordion__icon{position:absolute;top:50%;right:10px;color:#0153a7;font-size:1.2rem;transform:translate(0,-50%)}
#footer .fnav__item__list{display:none}
#footer .fnav__item__list>li{background:#fff;border-bottom:1px solid #ddd}
#footer .fnav__item__list>li a,
#footer .fnav--sitemap a{display:block;padding:15px 1.5em;color:#333;text-decoration:none;text-indent:-1em}
#footer .fnav--sitemap{border-bottom:1px solid #ddd}
#pagetop .pagetop__link--bottom{display:none}
}


.panel{position:relative;width:100%;margin:20px;text-align:center;box-shadow:0 3px 6px rgba(0,0,0,.1)}
.panel-image{}
.panel-body{padding:15px 15px 40px;background:#fff}
.box{width:94%;margin:0 auto 1rem;padding:18px 25px}
.box--yellow{background:#fbfce4;border:1px solid #e3e5b8}
.box--blue{background:#daebfd}
.box h3{font-size:1.2rem}
.contact-block-cta{margin:0;padding:15px;text-align:center;background:#1bbae0}
.contact-block{margin:0 15px 25px;padding:15px;text-align:center;background:url(/common/img/common/bg_pattern04.png) 0 0 repeat}
.contact-block__ttl{color:#fff;font-size:1.4rem;font-weight:700;line-height:1.4}
.contact-block__txt{display:block;padding:5px;margin:0 0 5px;background:#fff;border-radius:3px;color:#002060;line-height:1.4;font-weight:700}
.contact-block__inner{padding:15px;background:#fff;border-radius:3px}
.contact-block__inner__ttl{margin:0 0 10px;font-size:1.2rem;font-weight:500;line-height:1.4}
.contact-block__inner__ttl__big{font-size:1.45rem;font-weight:700}
.contact-block__inner__form .btn{width:100%;margin-left:0;padding:20px 0;box-shadow:0 3px 6px rgba(0,0,0,.5)}
.contact-block__inner__form__tel__ttl{margin:5px 0;padding:5px;background:#cf1817;color:#fff;line-height:1.4}
.btn{position:relative;display:inline-flex;align-items:center;justify-content:center;min-width:150px;margin:5px 0;padding:15px;color:#fff;text-align:center;text-decoration:none;line-height:1.4;border-radius:3px;font-size:1.4rem}
.btn--red {background:linear-gradient(#cf1919,#af0a0a)}
.btn--blue{background:linear-gradient(#1a6fc7,#0153a7)}
.btn--dl{width:45%;height:100px}
.list-circle{padding-left:1.1em;list-style-type:disc}
.list-decimal{padding-left:1.1em;list-style-type:decimal}
@media (min-width: 768px) and (max-width: 1023px){
.box{width:100%}
}
@media (min-width: 768px){
.container{max-width:1240px;margin:0 auto;padding:0 20px}
.contact-block{max-width:1240px;margin:0 auto 25px;padding:35px}
.contact-block__txt{display:inline-block;padding:5px 15px;margin:0 15px 5px}
.contact-block__inner__ttl{font-size:1.5rem}
.contact-block__inner__ttl__big{font-size:1.7rem}
.contact-block__inner__form{display:flex}
.contact-block__inner__form>div{width:49%;padding:0 10px;line-height:1.3}
.contact-block__inner__form .btn{height:100%;font-size:1.5rem}
.btn--dl{max-width:380px}
.column2-md>*{width:calc(50% - 20px);margin:10px}
.column3-md>*{width:calc(33.33% - 20px);margin:10px}
}
@media (max-width: 767px){
.contact-block{border-radius:6px}
.btn--dl{width:90%;height:25vw}
.column2-sm>*{width:calc(50% - 20px);margin:10px}
.column3-sm>*{width:calc(33.33% - 20px);margin:10px}
}
@media (min-width: 1024px){
.column2>*{width:calc(50% - 20px);margin:10px}
.column3>*{width:calc(33.33% - 20px);margin:10px}
}

#business-calendar,
#business-cal-side{margin:0 auto;position:relative;line-height:1.5;font-size:110%;color:#333}
#business-cal-side{margin:20px auto}
#business-calendar table,
#business-calendar table tr th,
#business-calendar table tr td,
#business-cal-side table,
#business-cal-side table tr th,
#business-cal-side table tr td{border-collapse:collapse;border:1px solid #ccc;text-align:center}
#business-calendar table tr th,
#business-calendar table tr td,
#business-cal-side table tr th,
#business-cal-side table tr td{padding:3px 0}
#business-calendar table,
#business-cal-side table{width:100%;margin-top:10px;background:#fff}
#business-calendar table th,
#business-cal-side table th{font-size:90%}
#business-calendar table #year-month th,
#business-cal-side table #year-month th{padding:7px 0;position:relative;font-size:110%}
#business-calendar table td.holiday,
#business-cal-side table td.holiday{color:#ff3535;background:rgba(255,0,0,0.1)}
#business-calendar table th.saturday,
#business-calendar table td.saturday,
#business-cal-side table th.saturday,
#business-cal-side table td.saturday{color:#3535ff}
#business-calendar table th.sunday,
#business-calendar table td.sunday,
#business-cal-side table th.sunday,
#business-cal-side table td.sunday{color:#ff3535}
#business-calendar .calendar1{margin-right:10px;}
#business-calendar p.holiday-string{display:none}
#business-cal-side p.holiday-string{margin:0;font-size:15px}
#business-cal-side p.holiday-string:before{content:"■ ";font-size:24px;color:rgba(255, 0, 0, 0.25)}
@media (min-width: 768px){
#business-calendar table tr th,
#business-calendar table tr td{padding:7px 0}
}


[class*='uk-width']{box-sizing:border-box;width:100%}
.uk-width-1-1{width:100%}.uk-width-1-2,.uk-width-2-4,.uk-width-3-6,.uk-width-5-10{width:50%}.uk-width-1-3,.uk-width-2-6{width:33.333%}.uk-width-2-3,.uk-width-4-6{width:66.666%}.uk-width-1-4{width:25%}.uk-width-3-4{width:75%}.uk-width-1-5,.uk-width-2-10{width:20%}.uk-width-2-5,.uk-width-4-10{width:40%}.uk-width-3-5,.uk-width-6-10{width:60%}.uk-width-4-5,.uk-width-8-10{width:80%}.uk-width-1-6{width:16.666%}.uk-width-5-6{width:83.333%}.uk-width-1-10{width:10%}.uk-width-3-10{width:30%}.uk-width-7-10{width:70%}.uk-width-9-10{width:90%}
@media (max-width: 480px){.uk-text-center-small{text-align:center!important}.uk-text-left-small{text-align:left!important}}
@media (min-width: 768px){.uk-width-medium-1-1{width:100%}.uk-width-medium-1-2,.uk-width-medium-2-4,.uk-width-medium-3-6,.uk-width-medium-5-10{width:50%}.uk-width-medium-1-3,.uk-width-medium-2-6{width:33.333%}.uk-width-medium-2-3,.uk-width-medium-4-6{width:66.666%}.uk-width-medium-1-4{width:25%}.uk-width-medium-3-4{width:75%}.uk-width-medium-1-5,.uk-width-medium-2-10{width:20%}.uk-width-medium-2-5,.uk-width-medium-4-10{width:40%}.uk-width-medium-3-5,.uk-width-medium-6-10{width:60%}.uk-width-medium-4-5,.uk-width-medium-8-10{width:80%}.uk-width-medium-1-6{width:16.666%}.uk-width-medium-5-6{width:83.333%}.uk-width-medium-1-10{width:10%}.uk-width-medium-3-10{width:30%}.uk-width-medium-7-10{width:70%}.uk-width-medium-9-10{width:90%}.uk-text-center-medium{text-align:center!important}.uk-text-left-medium{text-align:left!important}}
@media (min-width: 960px){.uk-width-large-1-1{width:100%}.uk-width-large-1-2,.uk-width-large-2-4,.uk-width-large-3-6,.uk-width-large-5-10{width:50%}.uk-width-large-1-3,.uk-width-large-2-6{width:33.333%}.uk-width-large-2-3,.uk-width-large-4-6{width:66.666%}.uk-width-large-1-4{width:25%}.uk-width-large-3-4{width:75%}.uk-width-large-1-5,.uk-width-large-2-10{width:20%}.uk-width-large-2-5,.uk-width-large-4-10{width:40%}.uk-width-large-3-5,.uk-width-large-6-10{width:60%}.uk-width-large-4-5,.uk-width-large-8-10{width:80%}.uk-width-large-1-6{width:16.666%}.uk-width-large-5-6{width:83.333%}.uk-width-large-1-10{width:10%}.uk-width-large-3-10{width:30%}.uk-width-large-7-10{width:70%}.uk-width-large-9-10{width:90%}}
@media (min-width: 1024px){.uk-visible-small{display:none!important}.uk-visible-medium{display:none!important}.uk-hidden-large{display:none!important}}
@media (min-width: 768px) and (max-width: 1023px){.uk-visible-small{display:none!important}.uk-visible-large{display:none!important}.uk-hidden-medium{display:none!important}}
@media (max-width: 767px){.uk-visible-medium{display:none!important}.uk-visible-large{display:none!important}.uk-hidden-small{display:none!important}}
.uk-text-center{text-align:center!important}
.uk-text-left{text-align:left!important}
.uk-text-right{text-align:right!important}
.uk-align-center{margin-left:auto;margin-right:auto}
.uk-display-block{display:block!important}
.uk-display-inline{display:inline!important}
.uk-display-inline-block{display:inline-block!important;max-width:100%}
.uk-position-sticky{position:sticky!important}
.uk-flex{display:flex}
.uk-flex-middle{align-items:center}
.uk-flex-center{justify-content:center}
.uk-flex-wrap{flex-wrap:wrap}
.uk-flex-space-between{justify-content:space-between}
.uk-flex-row-reverse{flex-direction:row-reverse}

@font-face{font-family:'icomoon';src:url('/common/icon2/fonts/icomoon.eot?4m772b');src:url('/common/icon2/fonts/icomoon.eot?4m772b#iefix') format('embedded-opentype'),url('/common/icon2/fonts/icomoon.ttf?4m772b') format('truetype'),url('/common/icon2/fonts/icomoon.woff?4m772b') format('woff'),url('/common/icon2/fonts/icomoon.svg?4m772b#icomoon') format('svg');font-weight:400;font-style:normal;font-display: block}[class^="icon-"],[class*=" icon-"]{font-family:'icomoon'!important;speak:never;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-box:before{content:"\e900"}.icon-envelope:before{content:"\e901"}.icon-papers:before{content:"\e902"}.icon-postcard:before{content:"\e903"}.icon-yen:before{content:"\e904"}.icon-arrow-up:before{content:"\e905"}.icon-arrow-right:before{content:"\e906"}.icon-arrow-left:before{content:"\e907"}.icon-arrow-down:before{content:"\e908"}.icon-phone:before{content:"\e909"}.icon-download:before{content:"\e90a"}.icon-checkmark:before{content:"\ea10"}.icon-play:before{content:"\ea1c"}.icon-checkbox:before{content:"\ea52"}
