@charset "utf-8";

.fr {
	float: right;
	margin: 0 0 10px 20px;
}

.fl {
	float: left;
	margin: 0 20px 10px 0;
}

.interviewer {
	color: #0155ac;
	font-weight: bold;
}

.img_block {
	overflow: hidden;
}

.mediabox {
	padding: 20px;
	background: #e8f3fc;
	overflow: hidden;
}

.mediabox p {
	padding: 0 !important;
}

.mediabox p:last-child {
	margin-bottom: 0 !important;
}