@charset "utf-8";
/* ============================================================ */
/* index.html */
/* ============================================================ */
#index {
	background: $cream;
	
	header {
		background: $white;
	}
	
/* .index-visual
/* --------------------------------------------------- */
	.index-visual {
		position: relative;
		height: 500px;
		
		.visual-slider {
			
			.object-fit-img {
				height: 500px;
				object-fit: cover;
				object-position: center top;
				font-family: 'object-fit: cover; object-position: center top;'
			}

			&__inner {
				text-align: center;
				width: 100%;
				height: 500px;
				position: relative;
				
				&__txt {
					max-width: 730px;
					margin: 138px auto 0;
					padding: 25px 15px;
					background: rgba(0,0,0,0.45);
					color: $white;
					position: relative;
					z-index: 2;
					
					&__ttl {
						font-size: 2.1rem;
						font-weight: 300;
						margin: 0 0 5px;
						position: relative;
						
						&::before {
							content: '';
							width: 15px;
							height: 40px;
							background: url(/common/img/index/bg_visual_txt_left.png) 0 0 no-repeat;
							background-size: contain;
							position: absolute;
							left: 5px;
						}
						
						&::after {
							content: '';
							width: 15px;
							height: 40px;
							background: url(/common/img/index/bg_visual_txt_right.png) 0 0 no-repeat;
							background-size: contain;
							position: absolute;
							right: 5px;
						}
					}
					
					&__block {
						font-size: $xxl;
						font-weight: bold;
						
						&__yellow {
							color: #f31d31;
							font-size: 3.8rem;
							line-height: 1.4;
							font-weight: 600;
							padding: 0 5px;
							text-shadow: $white 2px 0px,  $white -2px 0px,
							$white 0px -2px, $white 0px 2px,
							$white 2px 2px , $white -2px 2px,
							$white 2px -2px, $white -2px -2px,
							$white 1px 2px,  $white -1px 2px,
							$white 1px -2px, $white -1px -2px,
							$white 2px 1px,  $white -2px 1px,
							$white 2px -1px, $white -2px -1px;
						}
					}
				}
				
				&__img {
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 1;
					
					.column {
						flex-wrap: nowrap !important;
						
						div {
							width: calc(100% / 3);
						}
					}
				}
			}
			
			.slick-dots {
				text-align: center;
				margin: -40px 0 0;
				position: relative;
				z-index: 3;
				display: flex;
				align-items: center;
				justify-content: center;
				
				&>* {
					width: 13px;
					height: 13px;
					@include radius(13);
					margin-right: 10px;
					background: $white;
					cursor: pointer;
					@include transition;
					font-size: 0;
					line-height: 0;
				}
				
				.slick-active {
					background: $baseColor;
				}
			}
		}
	}
	
/* .index-amount
/* --------------------------------------------------- */
	.index-amount {
		margin: 0 0 -10px;
		background: #1bbae0;
		
		&__inner {
			max-width: 1200px;
			margin: -10px auto 0;
			display: flex;
			justify-content: space-between;
			
			&__block {
				/*width: 33.33%;*/
				margin: 0 10px;
				position: relative;
				z-index: 100;
				
				&--other {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	
	
/* .index-inner
/* --------------------------------------------------- */
	.index-inner {
		background: $white;
		max-width: 1200px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.1);
		margin: 50px auto 5px;
		padding: 0 50px 50px;
	}
	

	
/* .index-feature
/* --------------------------------------------------- */
	.index-feature {
		background: $white;
		border-bottom: 1px solid $borderColor;
		border-top: 1px solid $borderColor;
		
		&__inner {
			max-width: 1200px;
			margin: 0 auto;
			padding: 15px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			
			&__block {
				width: 20%;
				padding: 0 15px;
				border-right: 1px solid $borderColor;
				font-size: $m;
				display: flex;
				align-items: center;
				justify-content: center;
				
				.icon-papers ,
				.icon-box ,
				.icon-yen ,
				.icon-envelope ,
				.icon-postcard {
					color: $baseColor;
					display: inline-block;
					font-size: 3.2rem;
					margin: 0 10px 0 0;
				}
				
				&__txt {
					color: $baseColor;
					font-size: $xxl;
					font-weight: 600;
					line-height: 0.8;
					
					@media screen and (max-width: 1100px) {
						font-size: $m;
					}
				}
			}
			
			.feature-copies {
				border-left: 1px solid $borderColor;
			}
		}
	}

	
/* .index-info
/* --------------------------------------------------- */
	.index-info {
		max-width: 1200px;
		margin: 0 auto 35px;
		padding: 30px;
		text-align: center;
		background: #fff1f2;
		border: 4px solid #f31d31;
		color: #f31d31;
		font-size: 2.6rem;
		font-weight: bold;
		line-height: 1.4;
	}
	
	
/* .index-lead
/* --------------------------------------------------- */
	.index-lead {
		margin: 0 -50px;
		
		&__inner {
			
			&__block {
				align-items: center;
				justify-content: center;
				
				&__img {
					width: 21%;
					margin-bottom: 0 !important;
				}
				
				&__txt {
					width: 79%;
					margin-bottom: 0 !important;
					padding: 0 10px;
					position: relative;
					font-size: $xxl;
					line-height: 1.5;
					
					&::after {
						right: 100%;
						top: 50%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(255, 255, 255, 0);
						border-right-color: $white;
						border-width: 20px;
						margin-top: -20px;
					}
				}
			}
			
			&__akira {
				align-items: center;
				justify-content: center;
				flex-wrap: nowrap;
				
				&__txt {
					background: $light-blue;
					position: relative;
					z-index: 1;
					@include radius(3);
					margin: 0 -20px 0 0;
					padding: 20px 30px 20px 40px;
										
					&::after {
						left: 100%;
						top: 30%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(220, 234, 249, 0);
						border-left-color: #dceaf9;
						border-width: 15px;
						margin-top: -15px;
					}
				}
				
				&__img {
					max-width: 190px;
					position: relative;
					z-index: 2;
				}
				
				&__name {
					border: 1px solid $borderColor;
					background: $white;
					margin: 0 0 0 -20px;
					padding: 20px 30px 20px 40px;
					line-height: 1.2;
					position: relative;
					z-index: 1;
										
					&__txt {
						margin: 0 0 5px;
						font-weight: bold;
						
						&__bold {
							font-size: 2.3rem;
							line-height: 1.4;
						}
					}
				}
			}
		}
		
		.contact-block {
			background: #1bbae0;
			margin: 0 0 50px;
			padding: 30px 40px 40px;
			
			&__ttl{
				text-align: center;
				color: $white;
				font-size: 3.0rem;
				font-weight: bold;
				line-height: 1.4;
				margin: 0 0 30px;
			}
			
			&__txt {
				background: $white;
				@include radius(3);
				color: #002060;
				font-size: $l;
				padding: 7px 10px 10px;
				margin: 0 10px 0 0;
				display: inline-block;
				line-height: 1.4;
				font-weight: bold;
			}
		}
	}
	
/* .index-service
/* --------------------------------------------------- */
	.index-service {
		margin: 70px 0;
		
		.service-ico {
			text-align: center;
			max-width: 320px;
			margin-right: auto;
			margin-left: auto;
		}
		
		.bnr-service {
			margin: 0 auto;
			text-align: center;
			align-items: center;
			justify-content: center;

			&> * {
				margin-left: 10px;
				margin-right: 10px;
				width: calc((100% - 61px) / 3);
			}
		}
		
		&__inner {
			margin: 0 0 50px;
			
			&__txt {
				padding: 20px 30px 0;
				
				&__price {
					font-size: 3.8rem;
				}
				
				&__ico {
					
					@media screen and (max-width: 1100px) {
						margin-left: -5px;
						margin-right: -5px;
					}
					
					&__blue {
						background: #ed7d31;
						color: $white;
						text-align: center;
						line-height: 1.4;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-bottom: 0;
						padding: 10px 0;
						
						@media screen and (max-width: 1110px) {
							padding: 10px;
							margin-left: 5px;
							margin-right: 5px;
							margin-bottom: 5px;
							width: calc((100% - 21px) / 2 ) !important;
						}
					}
				}
			}
		}
	}
		
		
/* .index-flow
/* --------------------------------------------------- */
	.index-flow {
		margin: 0 0 70px;
		text-align: center;
		
		.ttl02 {
			&__txt {
				display: inline-block;
			}
		}
		
		&__txt {
			padding: 10px 15px 0;
		}
		
		&__inner {
			max-width: 1200px;
			margin: 0 auto;
		}		
		
		&__slider {
			margin: 0 auto 45px;
			max-width: 1200px;
			display: flex;
			
			.box--white {
				width: 232px !important;
				margin-left: 5px;
				margin-right: 5px;
				padding-bottom: 20px; 
				text-align: left;
				font-size: $s;
				position: relative;
				
				&::after {
					position: absolute;
					right: -43px;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					pointer-events: none;
					border-left-color: $baseColor;
					border-width: 25px;
					margin-top: -25px;
					z-index: 1;
				}
				
				&:last-of-type {
					&::after {
						display: none;
					}
				}
				
				.ttl04 {
					font-size: 1.7rem;
					text-align: left;
					margin: 0 0 15px;
				}
			}
		}
		
		.box {
			max-width: 1000px;
			margin: 0 auto 40px;
			font-size: 1.5rem;
			text-align: left;
			
			.u-font-bold {
				font-size: $xl;
			}
		}
		
		.btn {
			width: 350px;
		}
	}
	
/* .index-interview
/* --------------------------------------------------- */
	.index-interview {
		margin: 0 0 70px;
		
		.box--gray {
			margin: 0 auto;
			max-width: 1200px;
		}
		
		&__inner {
			align-items: center;
			justify-content: center;

			&__img {
				width: 27%;
				margin-bottom: 0 !important;
			}

			&__txt {
				width: 73%;
				margin-bottom: 0 !important;
				padding: 0 40px;
				position: relative;
				font-size: $l;
				line-height: 1.5;
				
				@media screen and (max-width: 1200px) {
					padding: 0 20px;
				}
				
				.u-ta-r {
					font-size: 1.5rem;
				}
				
				&::after {
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-right-color: #f6f6f6;
					border-width: 20px;
					margin-top: -20px;
				}
			}
		}
		
		.genius {
			border-top: 1px solid $borderColor;
				
			.index-interview__inner__img {
				order: 2;
				z-index: 1;
			}
			
			.index-interview__inner__txt {
				order: 1;
				z-index: 2;
				
				&::after {
					left: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-left-color: #f6f6f6;
					border-width: 20px;
					margin-top: -20px;
					z-index: 3;
				}
			}
		}
		
		.index-voice-slider {
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 0 5px;
			overflow: hidden;
			
			.box--gray {
				width: 285px !important;
				margin-left: 10px;
				margin-right: 10px;
				position: relative;
				z-index: 1;
			}
			
			.slick-prev ,
			.slick-next {
				background: $textColor;
				color: $white;
				width: 60px;
				height: 60px;
				font-size: 3.8rem;
				position: absolute;
				z-index: 2;
			}
			
			.slick-prev {
				top: 50%;
				left: 30px;
			}
			
			.slick-next {
				top: 50%;
				right: 30px;
			}
			
			.slick-list {
				overflow: visible;
			}
		}
		
		&__voice {
			padding: 20px 20px 30px;
			font-size: 1.5rem;
			line-height: 1.6;
			
			.u-ta-r {
				font-size: $s;
			}
		}
	}
	
/* .index-block
/* --------------------------------------------------- */
	.index-block {
		padding: 40px;
		
		&__inner {
			margin-left: 10px;
			margin-right: 10px;
			width: calc((100% - 41px)/ 2);
			
			&__img {
				width: 30%;
				margin: 0 5% 0 0;
			}
			
			&__txt {
				width: 65%;
				padding: 0;
				margin: 0;
				
				.ttl04 {
					border: none;
					padding: 0;
					margin: 0 0 20px;
					text-align: left;
					line-height: 1.2;
					color: $textColor;
					
					@media screen and (max-width: 1025px) {
						br {
							display: none;
						}
					}
				}
			}
		}
	}
	
	.no--shadow {
		box-shadow: none;
	}
	
	.box--white {
		.index-block {
			&__inner {
				display: block;
				
				&__img {
					width: 100%;
					margin: 0 0 5%;
					padding: 20px;
					background: #f6f6f6;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
					
					.u-pc-mw100p {
						width: 35% !important;
					}
				}

				&__txt {
					width: 100%;
					padding: 0;
					margin: 0;
				}
				
				.ttl04 {
					color: $baseColor;
					text-align: center;
				}
			}
		}
	}
	
	#check {
		.index-block__inner {
			&__img {
				padding: 0 !important;
				background: none !important;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;

				.u-pc-mw100p {
					width: 65% !important;
				}
			}
		}
	}
	
	
	
/* .contact-block
/* --------------------------------------------------- */
	.contact-block {
		background: #1bbae0;
		padding: 40px 50px;
		margin: 0 -50px;
		
		&__inner {
			margin-top: 0 !important;
			margin-left: auto !important;
			margin-right: auto !important;
			max-width: 1200px;
		}
	}
	
/* .index-acting
/* --------------------------------------------------- */
	.index-acting {
		margin: 70px 0;
		
		.u-font-bold {
			font-size: $l;
		}
		
		.responsible {
			max-width: 1200px;
			margin: 0 auto;
			padding: 0;
			border-top: none;
			
			.float {
				&__item {
					max-width: 380px;
					margin-bottom: 30px;
				}
			}
			
			.box--yellow ,
			.box--blue {
				max-width: 1000px;
				margin: 0 auto;
				
				.ttl04 {
					padding: 0;
					margin: 0 0 15px;
					border-bottom: none;
					text-align: left;
				}
			}
			
			.box--yellow {
				.ttl04 {
					color: $textColor;
				}
			}
			
			.box {
				&__list {
					background: rgba($white, 0.5);
					text-align: left;
					max-width: 650px;
					margin: 0 auto 20px;
					padding: 20px 30px;
					font-size: 1.5rem;
					font-weight: 600;
				}
			}
		}
		
		&__inner {
			border-top: 1px solid $borderColor2;
			padding: 70px 0 0;
			margin: 70px 0 0;
			
			.column4 {
				font-size: $s;
				text-align: center;
				line-height: 1.4;
			}
			
			.float {
				max-width: 1200px;
				margin: 0 auto;
				
				&__item {
					max-width: 380px;
					margin-bottom: 30px;
					text-align: center;
					font-size: $s;
					
					.privacy-mark {
						max-width: 94px;
						margin: 0 auto;
					}
				}
				
				&__txt {
					overflow: hidden;
					
					.u-font-bold {
						font-size: 1.7rem;
					}
				}
			}
		} 
		
		.index-block {
			max-width: 1200px;
			margin: 0 auto;
		}
	}
		
/* .index-support
/* --------------------------------------------------- */
	.index-support {
		margin: 0 0 70px;
		text-align: center;
		
		&__img {
			max-width: 1020px;
			margin: 0 auto 45px;
		}
		
		.box--yellow {
			max-width: 1000px;
			margin: 0 auto;
			
			.ttl04 {
				padding: 0;
				margin: 0 0 15px;
				border-bottom: none;
				color: $textColor;
			}
			
			&__bank {
				background: $white;
				max-width: 730px;
				margin: 0 auto;
				padding: 20px 10px;
				font-weight: 600;
			}
		}
	}
	
/* .index-pattern
/* --------------------------------------------------- */
	.index-pattern {
		margin: 70px 0;
		text-align: center;
		
		.box--yellow {
			text-align: left;
			
			.ttl04 {
				padding: 0;
				margin: 0 0 15px;
				border-bottom: none;
				color: $textColor;
			}
		}
		
		&__inner {
			
			.column {
				margin: 0 -6px 40px;
				align-items: center;
				justify-content: center;
				height: 100%;
			}
			
			&__txt {
				width: calc((100% - 85px)/ 7);
				margin: 0 6px;
				padding: 10px;
				color: $white;
				font-size: 2.1rem;
				line-height: 1.4;
				font-weight: 600;
				@include radius(3);
				
				@media screen and (max-width: 815px) {
					br {
						display: none;
					}
				}
			}
			
			.pacific-blue {
				background: #189dc8;
			}
			
			.cobalt {
				background: #0153a7;
			}
			
			.smalt {
				background: #082b83;
			}
			
			.sapphire {
				background: #002589;
			}
			
			.purple {
				background: #310968;
			}
			
			.js-matchHeight {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	
/* .index-case
/* --------------------------------------------------- */
	.index-case {
		margin: 0 0 70px;
		
		&__bg {
			margin: 0 -50px 30px;
		}
		
		&__inner {
			border-bottom: 1px solid $borderColor;
			padding: 30px 50px;
			
			&:last-of-type {
				border-bottom: none;
				padding: 30px 50px 0;
			}
			
			.u-font-bold {
				font-size: $l;
			}
			
			&__txt {
				width: 78%;
				margin-bottom: 0;
			}
			
			&__ttl {
				background: $white;
				padding: 15px;
				width: 100%;
				
				.u-font-bold {
					color: $textColor !important;
				}
			}
			
			&__img {
				width: 20%;
				margin-bottom: 0;
			}
			
			.txt-red {
				font-size: 3.4rem;
				font-weight: 700;
				line-height: 1.4;
				margin: 0 0 10px;
			}
		}
		
		.column2 {
			margin: 0 0 20px;
			justify-content: space-between;
			position: relative;
			
			&::after {
				left: 48.5%;
				right: 48.5%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-left-color: $baseColor;
				border-width: 35px;
				margin-top: -35px;
			}
			
			.box {
				width: calc((100% - 81px)/ 2);
				text-align: left;
				display: flex;
				align-items: center;
			}
		}
		
		.box--blue {
			margin: 0 40px 0 0;
			justify-content: space-between;
		}
		
		.box--yellow {
			margin: 0 0 0 40px;
			justify-content: space-between;
			border: 3px solid #e3e5b8;
			
			.u-font-bold {
				color: $red;
			}
		}
	}
	
/* .index-system
/* --------------------------------------------------- */
	.index-system {
		margin: 0 0 70px;
		text-align: center;
		
		.u-font-bold {
			font-size: $l;
		}
		
		&__txt {
			padding: 20px 30px 30px;
			text-align: left;
			
			@media screen and (max-width: 1020px) {
				.ttl04 {
					br {
						display: none;
					}
				}
			}
		}
		
		.box--yellow {
			max-width: 1050px;
			margin: 0 auto;
		}
		
		.box--blue {
			max-width: 1000px;
			margin: 0 auto 40px;
			font-size: 1.5rem;
			text-align: left;
			
			.ttl04 {
				text-align: left;
			}
		}
				
		.bnr-system {
			margin: 0 auto;
			text-align: center;
			align-items: center;
			justify-content: center;

			&> * {
				margin-left: 10px;
				margin-right: 10px;
				width: calc((100% - 61px) / 3);
			}
		}
	}
	
/* .index-consultation
/* --------------------------------------------------- */
	.index-consultation {
		margin: 70px 0;
		
		.float {
			max-width: 1200px;
			margin: 0 auto 40px;

			&__item {
				max-width: 380px;
				margin-bottom: 30px;
				position: relative;
				
				@media screen and (max-width: 910px) {
					max-width: 270px;
					text-align: center;
				}
			}
		}
		
		&__name {
			border: 1px solid $borderColor;
			background: $white;
			margin: 0 110px 0 0;
			padding: 20px;
			line-height: 1.2;
			position: relative;
			z-index: 1;
			max-width: 270px;

			&__txt {
				margin: 0 0 5px;
				font-weight: bold;
				font-size: 1.5rem;

				&__bold {
					font-size: 2.3rem;
					line-height: 1.4;
				}
			}
		}

		&__img {
			max-width: 190px;
			position: absolute;
			top: 25px;
			right: 0;
			z-index: 2;
			
			@media screen and (max-width: 910px) {
				position: relative;
				top: 0;
			}
		}
		
		.box {
			max-width: 1000px;
			margin: 0 auto 40px;
			font-size: $l;
			font-weight: 600;
			text-align: center;
		}
		
		.column3 {
			max-width: 1200px;
			margin: 0 auto;
		}
	}	
	
/* .bnr-index
/* --------------------------------------------------- */
	.bnr-index {
		padding: 40px 0 0;
		
		.btn {
			height: 120px;
			
			@media screen and (max-width: 1120px) {
				height: 100px;
			}
			
			@media screen and (max-width: 845px) {
				height: 80px;
			}
			
		}
	}
	
}