@charset "utf-8";

/* ============================================================ */
/* index */
/* ============================================================ */

/* トップページ メール便廃止について 150128追加*/
.con_mail {
	background: #ffebec;
	border: 3px solid #fecfd2;
	padding: 7px;
	margin: 0 auto 17px auto;
	text-align: center;
	width: 80%;
}

.con_mail p {
	font-weight: bold;
	margin: 0;
}

.con_mail p a {
	color: #de000c;
}

.con_mail p a:hover {
	text-decoration: none;
}


/* トップのみ コンテンツ */
.contents {
	margin: 0 0 20px 0;
}


/* サイドバナー（トップのみ） */
.box_bnr_side {
	margin: 0 -5% 10px 0;
}

.box_bnr_side .m10-b2 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	margin: 0 4% 7px 0;
	width: 45%;
	display: inline-block;
	vertical-align:top;
	letter-spacing: normal;
}

.box_bnr_side .m10-b2 a img {
	width: 100%;
	height: auto;
}



/* テーブル */
table#table-01 {
	width: 100%;
	border: 1px #999999 solid;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 5px 0;
}
table#table-01 caption {
	width: ;
	border-collapse: collapse;
	border-spacing: 0px;
	background: #c6dcf7;
	text-align: center;
	font-size: 12px;
	font-size: 1.2rem;
	padding: 4px;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
	color: #000;
}

table#table-01 th {
	padding: 6px;
	border: #999999 solid;
	border-width: 0 0 1px 1px;
	background: #3f7ac3;
	text-align: center;
	font-size: 12px;
	font-size: 1.2rem;
	color: #FFF;
	font-weight: normal;
}
table#table-01 td {
	padding: 6px;
	border: 1px #999999 solid;
	border-width: 0 0 1px 1px;
	text-align: center;
	font-size: 12px;
	font-size: 1.2rem;
	color: #000;
	line-height: 1.4em;
}

table#table-01 td:first-of-type {
	background: #3f7ac3;
}

.tablewhite{
	color: #FFF;
}

.white{
	font-size: 12px;
	font-size: 1.2rem;
	color: #FFF;
}

.b_text{
	font-size: 12px;
	font-size: 1.2rem;
	color: #000;
	font-weight: bold;
}

.box_dm {
	background: #cff4fd;
	padding: 10px 0;
	margin: 5px auto 0 auto;
	text-align: center;
}

.box_dm p {
	font-weight: bold;
	font-size: 115%;
	margin: 0;
}


/* ３時間以内返信の無料見積りはこちら */
.mitumori_tokei {
	margin: 10px auto 0 auto;
	text-align: center;
}

.mitumori_tokei a{
	background: url(/images/new_toppage/mitumori_bu_off.png) center 0 no-repeat;
	width: 100%;
	height: 0;
    padding: 27.41% 0 0 0;
    background-size: contain;
	display: block;
}

.mitumori_tokei a:hover{
	background: url(/images/new_toppage/mitumori_bu_on.png) center 0 no-repeat;
	background-size:contain;
}


/* お客様の声 */
#topmain-contents1 h3{
	clear: both;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	background: #000;
	color: #FFF;
	padding: 7px 10px 6px 10px;
	margin: 0 0 12px 0;
}

#topmain-contents1 h2{
	clear: both;
	margin-bottom: 10px;
}


/* お客様の声バナー */
#koe_bu {
	width: 100% !important;
	height: 27px !important;
	margin: 5px 0 15px 0;
}

#koe_bu a{
	background: url(/images/new_toppage/koe_bu5_off.png) 0 0 no-repeat;
	background-size:contain;
	width: 100%;
	height: 0;
    padding: 6.03% 0 0 0;
    background-size: contain;
	display: block;
}

#koe_bu a:hover{
	background: url(/images/new_toppage/koe_bu5_on.png) 0 0 no-repeat;
	background-size:contain;
}

.hide {
	display: none;
}


/* 取引先実績 */
#jisseki {
	background: url(/images/common/bg_jisseki02.png) 0 0 no-repeat;
	background-size: 100%;
	/*height: 543px;*/
	margin: 20px 0 10px 0;
	padding: 0 0 15px 0;
	border: 1px solid #d9d9d9;
}

#jisseki #jisseki_01 {
	padding: 15% 10px 0 10px;
	text-align: left;
}

#jisseki #jisseki_02 {
	padding: 0 10px;
}

#jisseki img {
	width: 90%;
	text-align: center;
	margin: 10px auto;
	display: block;
}

#btn_jisseki {
	margin: 0 0 30px 0;
}



/* 発送事例 */
.box_dm {
	background: #cff4fd;
	padding: 10px;
	margin: 5px auto 0 auto;
	text-align: center;
}

.box_dm p {
	font-weight: bold;
	font-size: 115%;
}


/* google plus */
#topmain-contents1 a .google_plus {
	width: 16px;
	height: 16px;
}


