@charset "utf-8";

/* ============================================================ */
/* #sidebar */
/* ============================================================ */
#sidebar {
	margin: 30px -6% 0 -6%;
	padding: 5% 1% 5% 6%;
	background: #dbecff;
	overflow: hidden;
}

#sidebar .m10-b2:nth-last-of-type(1) ,
#sidebar .m10-b2:nth-last-of-type(2) ,
#sidebar .m10-b2:nth-last-of-type(4) ,
#sidebar .m10-b2:nth-last-of-type(6) ,
#sidebar h3:nth-last-of-type(1) ,
#sidebar h3:nth-last-of-type(2) ,
#sidebar .menu .ranking ,
/*#sidebar .menu:nth-of-type(18) ,*/
#sidebar .m20-b ,
#sidebar p:last-child {
	display: none !important;
}

#sidebar #sidebar-in {
}


/* サイドバナー */
#sidebar .m10-b2 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	margin: 0 4% 7px 0;
	width: 45%;
	display: inline-block;
	vertical-align:top;
	letter-spacing: normal;
}

#sidebar .m10-b2 a img {
	width: 100%;
	height: auto;
}


/* サイドメニュー */
#sidebar h3 {
	background: url(/images/icon/ico_open.gif), -moz-linear-gradient(top,#0062c7 0%,#003a9e);
	background:url(/images/icon/ico_open.gif),  -webkit-gradient(linear, left top, left bottom, from(#0062c7), to(#003a9e));
	/* IE8 IE9 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#0062c7, endcolorstr=#003a9e))";
	zoom: 1;
	background: url(/images/icon/ico_open.gif), -moz-linear-gradient(top, #0062c7, #003a9e);/* FF3.6+ */
	background: url(/images/icon/ico_open.gif), -webkit-linear-gradient(top, #0062c7, #003a9e);/* Chrome10+, Safari5.1+ */
	background: url(/images/icon/ico_open.gif), linear-gradient(to bottom, #0062c7, #003a9e);/* IE10+, W3C */
	margin: 10px 4.6% 0 0;
	padding: 10px 10px 10px 30px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	font-size: 1.4rem;
	background-repeat: no-repeat;
	background-position: 4% center;
}

#sidebar h3.open {
	background: url(/images/icon/ico_close.gif), -moz-linear-gradient(top,#0062c7 0%,#003a9e);
	background:url(/images/icon/ico_close.gif),  -webkit-gradient(linear, left top, left bottom, from(#0062c7), to(#003a9e));
	/* IE8 IE9 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#0062c7, endcolorstr=#003a9e))";
	zoom: 1;
	background: url(/images/icon/ico_close.gif), -moz-linear-gradient(top, #0062c7, #003a9e);/* FF3.6+ */
	background: url(/images/icon/ico_close.gif), -webkit-linear-gradient(top, #0062c7, #003a9e);/* Chrome10+, Safari5.1+ */
	background: url(/images/icon/ico_close.gif), linear-gradient(to bottom, #0062c7, #003a9e);/* IE10+, W3C */
	background-repeat: no-repeat;
	background-position: 4% center;
}

#sidebar .menu {
	display: none;
}

#sidebar .menu .side-menu {
	margin: 0 5% 0 0;
	background: #fff;
	border: 1px solid #bfbfbf;
}

#sidebar .menu .side-menu li {
	border-bottom: 1px dotted #bfbfbf;
	padding: 8px 10px 8px 22px;
	background: url(/images/icon/icon_sidemenu.png) 4% 15px no-repeat;
	background-size: 4px;
}

#sidebar .menu .side-menu li:last-child {
	border-bottom: none;
}

#sidebar .menu .side-menu li a {
	display: block;
}



/* このサイトのURLをメールで送るボタン */
#sidebar .btn_mail_sp {
	background: url(/images/common/ico_mail.png), -moz-linear-gradient(top,#0062c7 0%,#003a9e);
	background:url(/images/common/ico_mail.png),  -webkit-gradient(linear, left top, left bottom, from(#0062c7), to(#003a9e));
	/* IE8 IE9 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#0062c7, endcolorstr=#003a9e))";
	zoom: 1;
	background: url(/images/common/ico_mail.png), -moz-linear-gradient(top, #0062c7, #003a9e);/* FF3.6+ */
	background: url(/images/common/ico_mail.png), -webkit-linear-gradient(top, #0062c7, #003a9e);/* Chrome10+, Safari5.1+ */
	background: url(/images/common/ico_mail.png), linear-gradient(to bottom, #0062c7, #003a9e);/* IE10+, W3C */
	margin: 10px 4.6% 0 0;
	padding: 10px 10px 10px 30px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	font-size: 1.4rem;
	background-repeat: no-repeat;
	background-position: 4% center;
}

#sidebar .btn_mail_sp a {
	color: #fff;
}
