@charset "utf-8";

.interviewer {
	color: #0155ac;
	font-weight: bold;
}

.img_block img {
	margin: 15px 0;
}

.mediabox {
	padding: 15px;
	background: #e8f3fc;
	overflow: hidden;
}

.mediabox img {
	float: left;
	width: 30% !important;
	margin: 0 15px 0 0;
}

.mediabox p {
	padding: 0 !important;
}

.mediabox p:last-child {
	margin-bottom: 0 !important;
}