@charset "utf-8";

.sitemap {
}

.sitemap ul {
	list-style-type: none;
	margin: 0 5px;
}

.sitemap ul li ul {
	margin: 0 0 25px;
}

.sitemap ul li ul li {
	margin: 0 0 8px;
	line-height: 1.4;
}

.sitemap ul li p {
	border-bottom: 2px solid #0153a7;
	font-size: 15px;
	padding: 0 0 5px;
	margin: 0 0 10px;
	font-weight: bold !important;
}

.sitemap ul li p a {
	color: #333;
}

.sitemap ul li p a span {
	font-weight: bold !important;
}

.sitemap ul li .sitemap-top {
	margin: 20px 0 25px;
}

.sitemap ul li .sitemap-sitemap ,
.sitemap ul li .sitemap-recruit {
	margin: 0 0 25px;
}

.sitemap ul li .sitemap-download {
	margin: 0 0 40px;
}

.sitemap ul li a {
	text-decoration: none;
	display: table;
}

.sitemap ul li a > *:first-child {
	display: table-cell;
	white-space: nowrap;
}

.sitemap ul li a:hover span {
	text-decoration: none;
}

.sitemap ul li a i {
	color: #0153a7;
}

.sitemap ul li a span {
	text-decoration: underline;
}
