@charset "utf-8";
/* ============================================================ */
/* 基本設定 */
/* ============================================================ */
html {
	font-size: 62.5%;
}

body {
	background: #f8f8f8;
	color: #333;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-size: 1.0rem;
	font-weight: normal;
	line-height: 1.8;
	-webkit-text-size-adjust: none;
}

#wrap {
	font-size: 1.4rem;
}

.clearfix::after {
	display: block;
	content: '';
	clear: both;
}


/* ============================================================ */
/* リンク設定 */
/* ============================================================ */
a {
	color: #0000ff;
	text-decoration: none;
}

