@charset "utf-8";

#pagetop {
	background-color: #FFF;
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 10px;
}