@charset "utf-8";

table {
	border: 1px solid #ccc;
}

table td {
	border: none;
	text-align: left;
}

table table {
	border: none;
}

table td[bgcolor="#bfcbf2"] {
	background: #bfcbf2;
}