@charset "utf-8";

/* ============================================================ */
/* kaku2_fuutou_kotei */
/* ============================================================ */

/* 	テーブル */
body table td[bgcolor="ebf7fb"] {
	background: #ebf7fb;
}

body table td[bgcolor="ffe519"] {
	background: #ffe519;
}

body table td[bgcolor="65a3d2"] {
	background: #65a3d2;
}

body table td[bgcolor="c1c8bf"] {
	background: #c1c8bf;
}

body table td[bgcolor="a6d855"] {
	background: #a6d855;
}

body table td[bgcolor="fea640"] {
	background: #fea640;
}

body table td[bgcolor="f6ea93"] {
	background: #f6ea93;
}

body table td[bgcolor="d9f0bb"] {
	background: #d9f0bb;
}

body table td[bgcolor="e5f5ed"] {
	background: #e5f5ed;
}




