RewriteEngine On

RewriteCond %{REQUEST_FILENAME}\.php !-f
RewriteRule  ^([0-9A-Za-z_\-]*)/$  index.php?pages=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule  ^([0-9A-Za-z_\-]*)$  $1.php [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule  ^([0-9A-Za-z_\-]*)/$ $1.php [L]
